@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f7fb;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.heading {
    font-family: "Karla", sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: #293264;
}

.text {
    font-family: "karla", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 30px;
}

.btn {
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #4d5b9e;
    color: #fff;
    border: none;
    text-align: center;
    width: 193px;
    margin-top: 10px;
}

.btn:active {
    transform: scale(0.98);
}

.quiz-container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    height: 100%;
}

.questions h3 {
    color: #293264;
    padding: 10px;
    font-family: "karla", sans-serif;
    font-weight: 700;
}

.options {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.options h6 {
    border: 1px solid #293264;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: "karla", sans-serif;
    cursor: pointer;
}

hr {
    background-color: #293264;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
}

.isSelected {
    background-color: #d6dbf5;
}

.correct {
    background-color: #94d7a2;
}

.wrong {
    background-color: #ffc0cb;
}